<app-confirmation></app-confirmation>
<div class="my-properties">
    <table class="table-responsive">
        <thead>
            <tr>
                <th class="pl-2">Houses</th>
                <th class="p-0"></th>
                <th>Date Added</th>               
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let home of homes">
                <td class="image myelist">
                    <a routerLink="/home-details/{{home.id}}" ><img alt="my-properties-3" src="{{home?.images[0]}}" class="img-fluid"></a>
                </td>
                <td>
                    <div class="inner">
                        <a routerLink="/home-details/{{home.id}}" ><h2>{{home.propertyName}}</h2></a>
                        <figure><i class="lni-map-marker"></i> {{home.locationAddress}}</figure>                        
                    </div>
                </td>
                <td>{{home.createdAt | date}}</td>               
                <td class="actions">
                    <!-- <a routerLink="/home-details/{{home.id}}"   class="edit"><i class="lni-pencil"></i>Edit</a>
                    <a href="#"><i class="far fa-trash-alt"></i></a>

                    <a class="edit"><i class="lni-pencil"></i>Delete</a>
                    <a href="#"><i class="far "></i></a> -->
                    <button  routerLink="/home-details/{{home.id}}" class="btn btn-primary btn-action"><fa-icon class="fa" [icon]="editIcon"></fa-icon></button>
                     <button class="btn btn-primary btn-action" (click)="onDelete(home.id)"><fa-icon class="fa" [icon]="deleteIcon"></fa-icon></button>
                </td>
            </tr>     
            
        </tbody>
    </table>
    <div class="pagination-container">
        <nav>
            <ul class="pagination">
                <li class="page-item"><a class="btn btn-common" href="#"><i class="lni-chevron-left"></i> Previous </a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="btn btn-common" href="#">Next <i class="lni-chevron-right"></i></a></li>
            </ul>
        </nav>
    </div>
</div>

