<div class="row">
    <div class="col-md-4">
        <div class="dashborad-box">
            <h4 class="title">
                Luxury Restaurant
            </h4>
            <div class="section-body listing-table">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>Location: </p>                        
                    </li>
                    <li class="list-group-item">
                        <p>Rooms Available: </p>                        
                    </li>
                    <li class="list-group-item">
                        <p>Status: <span>Active</span> </p>                        
                    </li>
                    
                  </ul>
                
            </div>
        </div>
        
        
        
    </div>
    <div class="col-md-8">
        <app-room-details></app-room-details>
    </div>
</div>
