<div class="row">
    <div class="col-md-6">
        <div class="dashborad-box">
            <h4 class="title">
                Luxury Plaza Building
            </h4>
            <div class="section-body listing-table">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>Location: </p>                        
                    </li>
                    <li class="list-group-item">
                        <p>Office Units Available: 50 </p>                        
                    </li>
                    <li class="list-group-item">
                        <p>Status: <span>Active</span> </p>                        
                    </li>
                    
                  </ul>
                
            </div>
        </div>       
    </div>   
</div>
<div class="col-md-12">
    <app-business-unit-list></app-business-unit-list>
</div>

