<div class="row">
    <div class="col-md-4">
        <div class="dashboard-box"> 
            <h4 class="title">
                {{building?.buildingName | uppercase}}
            </h4>
            <div class="section-body listing-table">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>Location: {{ building?.locationAddress }} </p>                        
                    </li>                    
                    <li class="list-group-item">
                        <p>Status: {{building?.isActive ? "Active":"Not Active"}} </p>                        
                    </li>
                    
                  </ul>
                
            </div>
        </div>           
    </div>  
    <div class="col-md-8">
        <div class="dashboard-box">
            <div class="section-body">
                <div class="row">
                    <ng-image-slider #nav
                        [images]="imageObject"
                        [infinite]="false"
                        [autoSlide]="1"
                        [imageSize]="{width: '50%', height: '50%'}"
                        slideImage="1"></ng-image-slider>
                </div>
            </div>
        </div>  
    </div> 
</div>
<div class="col-md-12">
    <app-business-unit-list [buildingId]="buildingId" [offices]="offices" (loadEvent)="onLoadEvent($event)"></app-business-unit-list>
</div>

