<div class="row">
    <div class="col-md-12">
        <div class="dashboard-box">
            <h4 class="title">
                {{building?.buildingName | uppercase}}
            </h4>
            <div class="section-body listing-table">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>Location: {{ building?.locationAddress }} </p>                        
                    </li>                    
                    <li class="list-group-item">
                        <p>Status: {{building?.isActive ? "Active":"Not Active"}} </p>                        
                    </li>
                    
                  </ul>
                
            </div>
        </div>  
        <div class="dashboard-box">
            <div class="section-body">
                <div class="row">
                    <div *ngFor="let image of building?.images" class="col-md-4">
                        <img src="{{image}}" alt="" srcset="">
                    </div>
                </div>
            </div>

        </div>     
    </div>   
</div>
<div class="col-md-12">
    <app-business-unit-list [buildingId]="buildingId" [offices]="offices"></app-business-unit-list>
</div>

