<form [formGroup]="homeForm">
    <div class="dashborad-box">
      <h4 class="title">Update Property Details</h4>
      <div class="section-body">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="form-group">
              <label>Property title</label>
              <input
                type="text"
                class="form-control"
                formControlName="title"
                placeholder="Enter Property title"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="form-group">
              <label>Property Description</label>
              <textarea
                class="form-control"
                formControlName="description"
                placeholder="Describe about your property"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label>Status</label>
              <select class="form-control" id="" formControlName="status">
                <option value="">Available</option>
                <option value="">Taken</option>
              </select>
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label>Type</label>
              <select class="form-control" id="" formControlName="type">
                <option value="For Sale">For Sale</option>
                <option value="For Hire">For Hire</option>
              </select>
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label>Rooms</label>
              <input
                type="number"
                formControlName="rooms"
                class="form-control"
                placeholder="Rooms"
              />
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label>Price</label>
              <input
                type="number"
                formControlName="price"
                class="form-control"
                placeholder="Price"
              />
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label>Payment Period</label>
              <select class="form-control" id="" formControlName="paymentPeriod">
                <option value="monthly">Monthly</option>
                <option value="monthly">Daily</option>
                <option value="monthly">Yearly</option>
              </select>
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label>Agent (Owner)</label>
              <select formControlName="owner" class="form-control">
                <option *ngFor="let agent of agents" value="{{ agent.id }}">
                  {{ agent.agentName }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-4">
            <p>Property Amenities</p>
            <div
              formArrayName="amenities"
              *ngFor="
                let item of homeForm.get('amenities')['controls'];
                let i = index
              "
            >
              <div formGroupName="{{i}}">
                <div class="row">
                  <div class="col-md-10">
                    <div class="form-group">                    
                      <input class="form-control" formControlName="amenity" placeholder="Amenity" />
                    </div> 
                  </div>
                  <div class="col-md-2">
                    <button class="form-control" type="button" (click)="removeAmenity(i)" ><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                  </div>
                </div>             
              </div>
            </div>
            <button type="button" (click)="addAmenity()">Add Amenity</button>
          </div>
        </div>
      </div>
    </div>
    <div class="dashborad-box">
      <h3>property Media</h3>
      <div class="property-form-group">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input
                    type="file"
                    class="form-control"
                    accept="image/*"
                    multiple=""
                    (change)="onFileChanged($event)"
                    #fileInput
                  />
                  <!-- <button class="form-control" (click)="fileInput.click()">
                     Select Property images
                    </button> -->
                </div>
              </div>
              <div class="col-md-3" *ngFor="let url of images; index as i">
                <div class="image-preview">
                  <span
                    class="fa fa-times text-danger float-right"
                    (click)="removeImage(i)"
                  ></span>
                  <img id="{{ 'image' + i }}" [src]="url.url" />
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="!url.isValid">
                  Low Resolution Image
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="dashborad-box">
      <h4 class="title">Property Location <i class="fa fa-hotel"></i></h4>
      <div class="section-body">
        <div class="row">
          <div class="col-md-4 col-lg-8">
            <div class="form-group">
              <label>Search Location</label>
              <input
                type="text"
                class="form-control"
                (keydown.enter)="$event.preventDefault()"
                placeholder="Search Nearest Location"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="off"
                type="text"
                #search
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <agm-map [latitude]="latitude" [longitude]="longitude">
              <agm-marker
                [latitude]="latitude"
                [longitude]="longitude"
                [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)"
              ></agm-marker>
            </agm-map>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label>Location Address</label>
              <input type="text" class="form-control" formControlName="address" />
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label>Country</label>
              <input type="text" class="form-control" placeholder="Country" />
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label>City / Town</label>
              <input
                type="text"
                class="form-control"
                formControlName="city"
                placeholder="City / Town"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary" (click)="onSubmit()">Update</button>
      </div>
    </div>
  </form>
  
