<form [formGroup]="businessUnitForm">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Office Unit</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="mb-3">
        <label class="form-label">Name </label>
        <input
          type="text"
          class="form-control"
          formControlName="officeName"
          placeholder="Deluxe Double Room	"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea class="form-control" id="" formControlName="description" cols="20" rows="10"></textarea>
      </div>
      <div class="mb-3">
          <label class="form-label">Size Measurement </label>
          <input
            type="text"
            class="form-control"
            formControlName="size"
            placeholder="size L * W"
          />
        </div>
        <div class="mb-3">
            <label class="form-label">Floor Number </label>
            <input
              type="text"
              class="form-control"
              formControlName="floorNumber"
              placeholder="floor no separated by comma eg 1,2,8,5"
            />
          </div>
        <div class="mb-3">
            <label class="form-label">Payment Interval</label>
            <select
              class="form-control form-select form-select-lg mb-3"
              formControlName="paymentInterval"
            >
              <option selected>Select Payment Interval</option>
              <option value="daily">Daily</option>
              <option value="weekly">Weekly</option>
              <option value="monthly">Monthly</option>
              <option value="yearly">Yearly</option>

            </select>
          </div>
        <div class="mb-3">
          <label class="form-label">Charges</label>
          <input
            type="number"
            class="form-control"
            formControlName="charges"
            placeholder="charges"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Total Units</label>
          <input
            type="number"
            class="form-control"
            formControlName="totalUnits"
            placeholder="Total Units"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Available Units</label>
          <input
            type="number" 
            class="form-control"
            formControlName="availableUnits"
            placeholder="Available Units"
          />
        </div>
  
      <div class="mb-3">
        <label class="form-label">Status</label>
        <select
          class="form-control form-select form-select-lg mb-3"
          formControlName="status"
        >
          <option selected>Select status</option>
          <option value=true>Available</option>
          <option value=false>Not available</option>
        </select>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="onSave()">Save</button>
  </div>
  
</form>