<app-confirmation></app-confirmation>

<div class="dashborad-box">
    <h4 class="title">Rooms</h4>
    <button class="btn btn-primary" (click)="openAddRoomModal()" >New Rooms</button>
    <div class="section-body listing-table">
        <div class="table-responsive" *ngIf="hotelRooms.length > 0; else noRooms">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Room type</th>
                        <th>No of People</th>
                        <th>Charges</th>
                        <th>Units Available</th>
                        <th>Total Units</th>                        
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>                    
                    <tr *ngFor="let room of hotelRooms">
                        <td>{{room.name}}</td>
                        <td>{{room.noOfPeople}}</td>
                        <td><span>{{room.chargesPerDay | currency }}</span></td>
                        <td>{{room.availableUnits}}</td>
                        <td class="status"><span class="active">{{room.totalUnits}}</span></td>                        
                        <td class="edit">
                            <button class="btn btn-primary btn-action" (click)="openEditModal()">                               
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-primary btn-action" (click)="onRoomDelete(room.id)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>                                     
                </tbody>
            </table>
        </div>
        <ng-template #noRooms>
            <p class="mt-10">No Rooms Available for this Hotel Please add Rooms</p>
        </ng-template>
    </div>
</div>


