<form [formGroup]="carForm">
  <div class="dashborad-box">
    <h4 class="title">Vehicle Details</h4>
    <div class="section-body ">       
        <div class="row">
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                  <label>Vehicle Make</label>
                  <input type="text" class="form-control" formControlName="vehicleMake" placeholder="Vehicle Make" />
                </div>
                <div *ngIf="carForm.controls['vehicleMake'].invalid && carForm.controls['vehicleMake'].touched" class="alert alert-danger">
                  <div *ngIf="carForm.controls['vehicleMake'].errors.required">
                Vehicle Make is required.
                </div>
              </div>
  
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                  <label>Vehicle Model</label>
                  <input type="text" class="form-control" formControlName="vehicleModel" placeholder="Vehicle Model" />
                </div>
                <div *ngIf="carForm.controls['vehicleModel'].invalid && carForm.controls['vehicleModel'].touched" class="alert alert-danger">
                  <div *ngIf="carForm.controls['vehicleModel'].errors.required">
                Vehicle Make is required.
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                  <label>Year</label>
                  <input type="date" class="form-control" formControlName="manufactureYear" placeholder="date" />
                </div>
            </div>

            </div>
            <div class="row">              
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                  <label>Vehicle Type</label>
                  <select class="form-control" formControlName="carType">                   
                    <option *ngFor="let type of car_Type" value="{{type}}">{{type}}</option>                    
                  </select>
                </div>
                <div *ngIf="carForm.controls['carType'].invalid && carForm.controls['carType'].touched" class="alert alert-danger">
                  <div *ngIf="carForm.controls['carType'].errors.required">
                Vehicle Type is required.
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="form-group">
                <label>Description</label>
                <textarea
                  class="form-control"
                  formControlName="description"
                  placeholder="Description"
                ></textarea>
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                  <label> No of Passages</label>
                  <input type="text" class="form-control" formControlName="noOfPassengers" placeholder="No of Passengers" />
                </div>
                <div *ngIf="carForm.controls['noOfPassengers'].invalid && carForm.controls['noOfPassengers'].touched" class="alert alert-danger">
                  <div *ngIf="carForm.controls['noOfPassengers'].errors.required">
                Please Provide Number of Passengers.
                </div>
              </div>
            </div>
           
        </div>
        <div class="row">
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label>Listing Type</label>
                <select class="form-control" formControlName="listingType">                   
                  <option *ngFor="let type of listingType" value="{{type}}">{{type}}</option>                    
                </select>
              </div>
              <div *ngIf="carForm.controls['listingType'].invalid && carForm.controls['listingType'].touched" class="alert alert-danger">
                <div *ngIf="carForm.controls['listingType'].errors.required">
              Listing type is required.
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label>Price</label>
                <input type="number" class="form-control" formControlName="ratePerDay" placeholder="Price (USD)" />
              </div>
              <div *ngIf="carForm.controls['ratePerDay'].invalid && carForm.controls['ratePerDay'].touched" class="alert alert-danger">
                <div *ngIf="carForm.controls['ratePerDay'].errors.required">
              Rate is required.
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label>Agent (Owner)</label>
              <select class="form-control" formControlName="agentId">
                <option *ngFor="let agent of agents" value="{{agent.id}}">{{agent.agentName}}</option>                    
              </select>
            </div>
            <div *ngIf="carForm.controls['agentId'].invalid && carForm.controls['agentId'].touched" class="alert alert-danger">
              <div *ngIf="carForm.controls['agentId'].errors.required">
            Agent is required.
            </div>
          </div>
          </div> 

        </div>
        <div class="row">       
            
              <div class="col-md-4 col-lg-4">
                <div class="form-group">
                  <label>Transmission</label>
                  <select class="form-control" formControlName="transmission">
                    <option value="Automatic">Automatic</option>
                    <option value="manual">Manual</option>
                    <option value="hybrid">hybrid</option>
                  </select>
                </div>
                <div *ngIf="carForm.controls['transmission'].invalid && carForm.controls['transmission'].touched" class="alert alert-danger">
                  <div *ngIf="carForm.controls['transmission'].errors.required">
              Required.
                </div>
              </div>
              </div> 
              <div class="col-md-4 col-lg-4">
                <div class="form-group">
                  <label>Fuel</label>
                  <select class="form-control" formControlName="fuel">
                    <option value="Diesel">Diesel</option>
                    <option value="Petroleum">Petroleum</option>
                    <option value="Electric">Electric</option>
                  </select>
                </div>
                <div *ngIf="carForm.controls['fuel'].invalid && carForm.controls['fuel'].touched" class="alert alert-danger">
                  <div *ngIf="carForm.controls['fuel'].errors.required">
                Required.
                </div>
              </div>
              </div>           
            
        </div> 
              
    </div>
  </div>

  <div class="dashborad-box">
    <h3>Vehicle Media</h3>
    <div class="property-form-group">
      <div class="card">
        
        <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input
                    
                    type="file"
                    class="form-control"
                    accept="image/*"
                    multiple=""
                    (change)="onFileChanged($event)"
                    #fileInput
                  />
                  <!-- <button class="form-control" (click)="fileInput.click()">
                   Select Property images
                  </button> -->
                </div>
              </div>
              <div class="col-md-3" *ngFor="let url of images; index as i">
                <div class="image-preview">
                  <span
                    class="fa fa-times text-danger float-right"
                    (click)="removeImage(i)"
                  ></span>
                  <img id="{{ 'image' + i }}" [src]="url.url" />
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="!url.isValid">
                  Low Resolution Image
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
            <button class="btn btn-primary"  [disabled]="!carForm.valid" (click)="onSubmit()" type="submit">Submit</button>
    </div>
</div>


</form>