<div class="my-properties">
    <button class="btn btn-primary btn-action" [routerLink]="['/add-car']" >New Car</button>
    
    <table class="table-responsive table-bordered">
        <thead>
            <tr>
                <th class="pl-2">Car images</th>
                <th class="p-0"></th>
                <th>Date Added</th>                
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vehicle of vehicles">
                <td class="image myelist">
                    <a routerLink="/car-details/{{vehicle.id}}"><img alt="my-properties-3" src="{{vehicle?.images[0]}}" class="img-fluid"></a>
                    
                </td>
                <td>
                    <div class="inner">
                        <a routerLink="/car-details/{{vehicle.id}}"><h2>{{vehicle.vehicleMake}}</h2></a>
                        <figure><i class="lni-map-marker"></i> {{vehicle?.agent?.locationAddress}}</figure>
                       
                    </div>
                </td>
                <td>{{vehicle.createdAt | date}}</td>
               
                <td class="actions">
                    <a routerLink="/car-details/{{vehicle.id}}" routerLinkActive="router-link-active"  class="edit"><i class="fa fa-edit"></i>Edit</a>
                    
                </td>
            </tr>
           
            
        </tbody>
    </table>
    <div class="pagination-container">
        <nav>
            <ul class="pagination">
                <li class="page-item"><a class="btn btn-common" href="#"><i class="lni-chevron-left"></i> Previous </a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="btn btn-common" href="#">Next <i class="lni-chevron-right"></i></a></li>
            </ul>
        </nav>
    </div>
</div>


