<div class="dashborad-box">
    <h4 class="title">Office Units</h4>
    <button class="btn btn-primary" (click)="openAddRoomModal()" >New Office Unit</button>
    <div class="section-body listing-table">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Office type</th>
                        <th>Office Description</th>
                        <th> Size</th>
                        <th>Charges</th>
                        <th>Total Units</th>                        
                        <th>Units Available</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>                    
                    <tr *ngFor="let office of offices">
                        <td>{{office.officeName}}</td>
                        <td>{{office.description}}</td>
                        <td>{{office.size}} meters</td>
                        <td><span>{{office.charges | currency }}</span></td>
                        <td>{{office.totalUnits}}</td>
                        <td class="status"><span class="active">{{office.availableUnits}}</span></td>                        
                        <td class="edit">
                            <button class="btn btn-primary btn-action" (click)="openEditModal()">                               
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-primary btn-action">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>                                      
                </tbody>
            </table>
        </div>
    </div>
</div>



