<div class="dashborad-box">
    <h4 class="title">Hotels & Rooms</h4>
    <button class="btn btn-primary" [routerLink]="['/add-hotel']" >New Hotel</button>
    <div class="section-body listing-table">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Hotel Name</th>
                        <th>Location</th>
                        <th>Number of Rooms</th>
                        <th>Contact Number</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr [routerLink]="['/hotel-room-details']" class="table-row">
                        <td>Luxury Restaurant</td>
                        <td>23 Jan 2020</td>
                        <td class="rating"><span>5.0</span></td>
                        <td>0707200314</td>
                        <td class="status"><span class=" active">Active</span></td>
                        <td class="edit">
                            <button class="btn btn-primary btn-action"><fa-icon class="fa" [icon]="editIcon"></fa-icon></button>
                            <button class="btn btn-primary btn-action"><fa-icon class="fa" [icon]="deleteIcon"></fa-icon></button>
                        </td>
                    </tr>
                    
                   
                </tbody>
            </table>
        </div>
    </div>
</div>


