<app-confirmation></app-confirmation>

<div class="dashborad-box">
    <h4 class="title">Hotels & Rooms</h4>
    <button class="btn btn-primary" [routerLink]="['/add-hotel']" >New Hotel</button>
    <div class="section-body listing-table">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Hotel Name</th>
                        <th>Location</th>                     
                        <th>Contact Number</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let hotel of hotels" class="table-row" >
                        <td>{{hotel.hotelName}}</td>
                        <td>{{hotel.locationAddress}}</td>                       
                        <td>{{hotel.contact}}</td>
                        <td class="status"><span class=" active">{{hotel.isActive}}</span></td>
                        <td class="edit">
                            <button routerLink="/hotel-room-details/{{hotel.id}}"  class="btn btn-primary btn-action"><fa-icon class="fa" [icon]="editIcon"></fa-icon></button>
                            <button class="btn btn-primary btn-action" (click)="onDelete(hotel.id)"><fa-icon class="fa" [icon]="deleteIcon"></fa-icon></button>
                        </td>
                    </tr>
                    
                   
                </tbody>
            </table>
        </div>
    </div>
</div>


