<form [formGroup]="carForm">
    <div class="dashborad-box">
      <h4 class="title">Update Vehicle Details</h4>
      <div class="section-body ">       
          <div class="row">
              <div class="col-md-4 col-lg-4">
                <div class="form-group">
                    <label>Vehicle Make</label>
                    <input type="text" class="form-control" formControlName="vehicleMake" placeholder="Vehicle Make" />
                  </div>
    
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="form-group">
                    <label>Vehicle Model</label>
                    <input type="text" class="form-control" formControlName="vehicleModel" placeholder="Vehicle Model" />
                  </div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="form-group">
                    <label>Year</label>
                    <input type="date" class="form-control" formControlName="manufactureYear" placeholder="date" />
                  </div>
              </div>
  
              </div>
              <div class="row">              
              <div class="col-md-4 col-lg-4">
                <div class="form-group">
                    <label>Plate No</label>
                    <input type="text" class="form-control" formControlName="plateNo" placeholder="Plate Number" />
                  </div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="form-group">
                    <label> No of Passages</label>
                    <input type="text" class="form-control" formControlName="noOfPassengers" placeholder="No of Passengers" />
                  </div>
              </div>
              <div class="col-md-4 col-lg-4">
                  <div class="form-group">
                      <label> Rate per Day</label>
                      <input type="number" class="form-control" formControlName="ratePerDay" placeholder="Rate per day (USD)" />
                    </div>
                </div>
          </div>
          <div class="row">              
              <div class="col-md-4 col-lg-4">
                  <div class="form-group">
                    <label>Agent (Owner)</label>
                    <select class="form-control" formControlName="agentId">
                      <option *ngFor="let agent of agents" value="{{agent.id}}">{{agent.agentName}}</option>                    
                    </select>
                  </div>
                </div> 
                <div class="col-md-4 col-lg-4">
                  <div class="form-group">
                    <label>Transmission</label>
                    <select class="form-control" formControlName="transmission">
                      <option value="Automatic">Automatic</option>
                      <option value="manual">Manual</option>
                      <option value="hybrid">hybrid</option>
                    </select>
                  </div>
                </div> 
                <div class="col-md-4 col-lg-4">
                  <div class="form-group">
                    <label>Fuel</label>
                    <select class="form-control" formControlName="fuel">
                      <option value="Diesel">Diesel</option>
                      <option value="Petroleum">Petroleum</option>
                      <option value="Electric">Electric</option>
                    </select>
                  </div>
                </div>           
              
          </div> 
                
      </div>
    </div>
  
    <div class="dashborad-box">
      <h3>Vehicle Media</h3>
      <div class="property-form-group">
        <div class="card">
          
          <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input
                      
                      type="file"
                      class="form-control"
                      accept="image/*"
                      multiple=""
                      (change)="onFileChanged($event)"
                      #fileInput
                    />
                    <!-- <button class="form-control" (click)="fileInput.click()">
                     Select Property images
                    </button> -->
                  </div>
                </div>
                <div class="col-md-3" *ngFor="let url of images; index as i">
                  <div class="image-preview">
                    <span
                      class="fa fa-times text-danger float-right"
                      (click)="removeImage(i)"
                    ></span>
                    <img id="{{ 'image' + i }}" [src]="url.url" />
                  </div>
                  <div class="alert alert-danger" role="alert" *ngIf="!url.isValid">
                    Low Resolution Image
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
              <button class="btn btn-primary" (click)="onSubmit()" type="submit">Update</button>
      </div>
  </div>
  
  
  </form>