<app-confirmation></app-confirmation>

<div class="dashborad-box">
    <h4 class="title">Agents</h4>
    <button class="btn btn-primary" [routerLink]="['/add-agent']" >New Agent</button>
    <div class="section-body listing-table">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Agent Name</th>
                        <th>Phone Number</th>
                        <th>Owner Name</th>
                        <th>Mobile Number</th>                        
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let agent of agents">
                        <td>{{agent.agentName}}</td>
                        <td>{{agent.phoneNumber}}</td>
                        <td class="rating"><span>{{agent.ownerName}}</span></td>
                        <td>{{agent.createdAt | date}}</td>
                        <td class="status"><span class=" active">{{agent.locationAddress}}</span></td>                       
                        <td class="edit">
                            <button class="btn btn-primary btn-action"><fa-icon class="fa" [icon]="editIcon"></fa-icon></button>
                            <button class="btn btn-primary btn-action" (click)="onAgentDelete(agent.id)"><fa-icon class="fa" [icon]="deleteIcon"></fa-icon></button>
                        </td>
                    </tr>                
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

